.subsistemsPage {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding: 20px 0;
}

.submitButton {
    align-self: flex-start;
    width: 270px;
}

.incidentItem {
    display: flex;
    align-items: center;
    gap: 4px;
}

.leftIncidentsContainer {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.headerIcon {
    font-size: 24px;
    margin-right: 8px;
}